.produto-lista .preco-antigo{
text-decoration: line-through;
color: #9999;
}

.produto-lista a{
    text-decoration: none;
    color: rgb(51, 51, 51);
}

.produto-lista a:hover{
background-color: rgb(238, 238, 238);
}